<div id="<%= dom_id subscription_plan %>">
  <p>
    <strong>Name:</strong>
    <%= subscription_plan.name %>
  </p>

  <p>
    <strong>Price cents:</strong>
    <%= subscription_plan.price_cents %>
  </p>

  <p>
    <strong>Expiration:</strong>
    <%= subscription_plan.expiration %>
  </p>

  <p>
    <strong>Super admin:</strong>
    <%= subscription_plan.super_admin_id %>
  </p>

</div>
