<div id="<%= dom_id enrollment %>">
  <p>
    <strong>Obs:</strong>
    <%= enrollment.obs %>
  </p>

  <p>
    <strong>Price cents:</strong>
    <%= enrollment.price_cents %>
  </p>

  <p>
    <strong>Expiration:</strong>
    <%= enrollment.expiration %>
  </p>

  <p>
    <strong>Is active:</strong>
    <%= enrollment.is_active %>
  </p>

  <p>
    <strong>Plan:</strong>
    <%= enrollment.plan_id %>
  </p>

  <p>
    <strong>Customer:</strong>
    <%= enrollment.customer_id %>
  </p>

</div>
