<div id="<%= dom_id subscription %>">
  <p>
    <strong>Price:</strong>
    <%= subscription.price_cents %>
  </p>

  <p>
    <strong>Expiration:</strong>
    <%= subscription.expiration %>
  </p>

  <p>
    <strong>Gym:</strong>
    <%= subscription.gym_id %>
  </p>

  <p>
    <strong>Subscription plan:</strong>
    <%= subscription.subscription_plan_id %>
  </p>

  <p>
    <strong>Is active:</strong>
    <%= subscription.is_active %>
  </p>

</div>
