<div id="<%= dom_id gym_plan %>">
  <p>
    <strong>Name:</strong>
    <%= gym_plan.name %>
  </p>

  <p>
    <strong>Price cents:</strong>
    <%= gym_plan.price_cents %>
  </p>

  <p>
    <strong>Expiration:</strong>
    <%= gym_plan.expiration %>
  </p>

  <p>
    <strong>Is active:</strong>
    <%= gym_plan.is_active %>
  </p>

  <p>
    <strong>Gym:</strong>
    <%= gym_plan.gym_id %>
  </p>

</div>
